:host {
    display: flex;
    align-items: center;
    p-card {
        display: block;

        .login-input {
            display: grid;

            &:not(:first-of-type) {
                padding-top: 12px;
            }
        }

        p.submit-button-container {
            display: flex;
            justify-content: space-between;
        }
    }
}